:root {
   --purple: hsl(259, 100%, 65%);
   --red: hsl(0, 100%, 67%);
   --white: hsl(0, 0%, 100%);
   --offWhite: hsl(0, 0%, 94%);
   --lightGrey: hsl(0, 0%, 86%);
   --smokeyGrey: hsl(0, 1%, 44%);
   --offBlack: hsl(0, 0%, 8%);
}

body {
   background-color: var(--lightGrey);
   font-family: sans-serif;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   width: 100%;
}

button {
   background-color: var(--purple);
   border-style: none;
   border-radius: 50%;
   display: inline-block;
   padding: 2vh;
   position: relative;
   margin:0;
   /* size:50%; */
}

button:active {
   background-color: var(--offBlack);
   cursor: pointer;
}

hr {
   display: inline-block;
   position: relative;
   padding: 0;
   margin: 8px auto;
   height: 0;
   width: 80%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 1px solid #aaaaaa;
   border-bottom: 1px solid #ffffff;
}

.card {
   background-color: var(--white);
   position: relative;
   border-radius: 5% 5% 25% 5%;
   color: var(--offBlack);
}

.errorMsg {
   color: var(--red);
   font-style: italic;
   font-weight: normal;
   font-size: 0.75rem;
   margin: 0.5rem 0;
   height: 1rem;
}

.errorFontRed {
   color: var(--red);
}

.fonts-loaded body {
   font-family: Poppins, sans-serif;
}

.info {
   align-items: center;
   display:flex;
   flex-direction: row;
   color: var(--smokeyGrey);
   font-weight: 700;
}

.info input {
   padding: 1rem;
   border-radius: 5%;
   font-weight: 700;
}

.info input:active {
   cursor: pointer;
}

.inputWrapper {
   margin: 0 1rem;
}

.inputWrapper label {
   display: block;
}

.red-border {
   border: 1px solid var(--red);
}

.resultText {
   color: var(--purple);
}

@media (max-width: 375px) {
   .attribution {
      font-size: 0.70em;
   }
   .card {
      width: 80%;
      padding: 1rem;
   }
   .info {
      font-size: 1rem;
   }
   .info input {
      font-size: 1rem;
      margin: auto 0;
      width: 3rem;
   }
   .results{
      font: italic 800 1.5em "Poppins", sans-serif;
   }
}

@media (min-width: 375px) {
   .attribution {
      font-size: 1em;
   }
   .card {
      width: 40rem;
      padding: 5rem;
   }
   .info {
      font-size: 1rem;
   }
   .info input {
      font-size: 1.5rem;
      margin: auto 0;
      width: 6rem;
   }
   .results{
      font: italic 800 5em "Poppins", sans-serif;
   }
}
